header {
    background-color: black;
    color: white;
}
nav {
    background-color: black;
    color: white;
}
main {
    background-color: black;
    color: white;
}
aside {
    background-color: black;
    color: white;
}
footer {
    background-color: blue;
    color: white;
}